@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-origin: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.9rem 1.5rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.7rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.umargin-top-1 {
  margin-top: 1rem; }

.umargin-top-2 {
  margin-top: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-3 {
  margin-bottom: 3rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-5 {
  margin-bottom: 5rem; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }

.u-margin-bottom-7 {
  margin-bottom: 7rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-9 {
  margin-bottom: 9rem; }

.btn--animated {
  animation: moveInbottom 0.5s ease-in;
  animation-delay: 0.55s;
  animation-fill-mode: backwards; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  outline: none; }

.btn:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s; }

.btn--white:after {
  background-color: #fff; }

.btn--white {
  background-color: #fff; }

.btn--green {
  background-color: #28b485; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 2px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.card {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: color; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/kom.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 2rem; }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.4rem;
      padding: 1rem;
      border-bottom: 1px solid #000; }
  .card__bck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.1rem 3rem black;
    position: absolute;
    z-index: 5;
    transition: all 1s; }
    .composition__photo--p1 {
      left: 0;
      top: -1rem; }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
    .composition__photo--p3 {
      left: 14rem;
      top: 8rem; }
    .composition__photo:hover {
      transform: scale(1.2);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.1rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  padding: 2.5rem;
  transition: all 0.5s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 0.5rem; }
  .feature-box:hover {
    transform: translateY(-2rem); }

.form__input:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.4rem;
  font-family: inherit;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block; }

.form__input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #7ed56f; }

.form__label {
  font-size: 1rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header--logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header--logo {
    height: 140px; }
  .header--text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.footer {
  padding: 5rem 0;
  background-color: #777;
  color: #fff; }
  .footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem; }
    .footer ul li a {
      color: white; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url(../img/nat-4.jpg);
  background-size: cover; }

.section-tours {
  padding: 10rem 0;
  background-color: #f7f7f7; }

.section-form {
  padding: 10rem 0;
  background-image: linear-gradient(to right, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/rila-lake-1.jpg);
  background-size: cover;
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 3rem; }
