@mixin clearFix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// TO DO
//Media queries

@mixin responce($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
