$primary-color: #7ed56f;
$primary-medium: #55c57a;
$primary-dark: #28b485;
$primary-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$grid-width: 114rem;
$gutter-vertical: 4rem;
$horisontal-gutter: 3rem;
