.footer {
  padding: 5rem 0;
  background-color: $primary-grey;
  color: $color-white;

  ul {
    li {
      list-style: none;
      display: inline-block;
      margin-right: 2rem;
      a {
        color: white;
      }
    }
  }
}
