.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($primary-color, 0.8),
      rgba($primary-medium, 0.8)
    ),
    url(../img/rila-lake-1.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &--logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &--logo {
    height: 140px;
  }

  &--text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
