.card {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    transition: all.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }
    &--back {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
      transform: rotateY(-180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: color;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/kom.jpg);
    }
    &--2 {
    }
    &--3 {
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 2rem;
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem;
        border-bottom: 1px solid #000;
      }
    }
  }

  &__bck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--label {
    }
    &--price {
    }
  }
}
