.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.1rem 3rem rgba($color-black, 1);
    position: absolute;
    z-index: 5;
    transition: all 1s;

    &--p1 {
      left: 0;
      top: -1rem;
    }
    &--p2 {
      right: 0;
      top: 3rem;
    }
    &--p3 {
      left: 14rem;
      top: 8rem;
    }
    &:hover {
      transform: scale(1.2);
      z-index: 10;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(1.1rem);
  }
}
