.section-about {
  background-color: $color-grey-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right,
      rgba($primary-color, 0.8),
      rgba($primary-medium, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
}

.section-tours {
  padding: 10rem 0;
  background-color: $color-grey-1;
}

.section-form {
  padding: 10rem 0;
  background-image: linear-gradient(to right, $primary-color, $primary-dark);
}
.book {
  background-image: linear-gradient(
      100deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/rila-lake-1.jpg);
  background-size: cover;
  height: 50rem;

  &__form {
    width: 50%;
    padding: 3rem;
  }
}
